@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: aquamarine;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* full screen height */
    margin: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 140px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    max-width: 800px;
    min-height: 330px;

    background-color: #fff;
    border-radius: 25px;
    border: 5px ridge;
    box-shadow: 0px 4px 10px rgba(6, 6, 6, 0.1);
    padding: 20px;
    text-align: center;
}

.box {
    text-align: center;
    padding: 10px;
    min-height: 25px;
    border-radius: 10px;
    margin: 10px auto;
    font-family: "Poppins", sans-serif;
}

#three, #five {
    background-color: #000;
    width: 200px;
}

/* Removed margin-left:50% and fixed widths */
#two, #four {
    margin-top: 20px;
}
