<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/change_password.css">
    <title>reset password</title>

</head>
<body>
    <div class="box">
        <h1>Update Password</h1>
    </div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="main">
            <label for="username">Username:</label>
            {{form.username}}
            <label for="password">New Password:</label>
            {{form.new_password}}
            {%if msg%}
            <div class="msg">{{msg}}</div>
            <script>
                setTimeout(function(){
                    window.location.href = "{{ url_for('login') }}";
                }, 3000); // 3 seconds
            </script>
            {% endif %}
            {%if error%}
            <div class="error">{{error}}</div>
            {% endif %}
            {{form.submit}}
    </form>
</body>
</html>