<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/reset_password.css">
    <title>reset password</title>

</head>
<body>
    <div class="box">
        <h1>Reset Password</h1>
    </div>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div class="main">
            <label for="username">Username:</label>
            {{form.username}}
            <label for="password">Old Password:</label>
            {{form.old_password}}
            <label for="password">New Password:</label>
            {{form.new_password}}
            {%if error%}
            <div class="error">{{error}}</div>
            {% endif %}
            {{form.submit}}
    </form>
</body>
</html>